body {
  margin: 0;
  background-color: #00151a;
}

/*Movie poster sizing*/
.heroContainer {
  background-image: url("../images/movie_poster.png");
  background-color: rgba(36, 36, 36, 0.493);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  border: 2px solid black;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
