* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #00151a;
}
/*Navigation bar on top*/
.navBar {
  display: flex;
  align-items: center;
  font-family: Impact, Charcoal, sans-serif;
}
/*Reel logo sizing*/
.reelLogo {
  height: 100px;
  margin-right: 10px;
}
/*"ReelReview" font changes*/
.navTitle {
  color: #1e5c5c;
  font-weight: 500;
  font-size: 30px;
}
/*Features in the middle of the movie poster*/
.Hero {
  flex-direction: column;
  text-align: center;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
/*Slogan*/
.heroFeatures {
  font-size: 20px;
  padding-block: 10px;
  line-height: 30px;
}

/*Movie poster sizing*/
.heroContainer {
  background-image: url("./images/movie_poster.png");
  background-color: rgba(36, 36, 36, 0.493);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  border: 2px solid black;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Description of the movies*/
.movieSection {
  font-size: 100%;
  font-family: Tahoma, Geneva, sans-serif;
  font-style: italic;
  color: white;
  padding: 10px 10px;
}
/*Sizing of movie poster*/
.moviePoster > img {
  width: 175px;
  margin-left: 10px;
}

.movie {
  display: flex;
  flex-direction: column;
}

.cardContainer {
  display: flex;
  gap: 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: row; /* This will lay out the children (buttons) in a row */
  justify-content: center; /* This will center the buttons in the container */
  align-items: center; /* This will vertically align the buttons in the container */
  gap: 0px; /* This sets a gap between each button */
}

.feature-button {
  background-color: #333; /* Dark grey background */
  color: white; /* White text */
  padding: 20px;
  margin: 5px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  transition: background-color 0.3s; /* Transition for hover effect */
  text-align: center;
  cursor: pointer; /* Change cursor on hover */
  width: 200px;
}

.feature-button:hover {
  background-color: #444; /* Slightly lighter grey on hover */
}

.feature-text {
  font-size: 16px; /* Adjust font size as needed */
  font-weight: bold; /* Bold font */
  margin-left: 12px; /* Space between icon and text if you add icons later */
}
